<nav class="nav main-menu menu-scroll">
  <ul>
    <span class="menu-close hidden-on-desktop"></span>

    {% set menu_items = menu.main.get_items %}

    <div class="menu-left">
      {% for item in menu_items %}
        {% if loop.index <= fn('int', menu_items|length) / 2 %}
          {% include 'menu-item.twig' with {'item': item} %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="menu-logo hidden-on-mobile">
      <a href="{{ site.url }}" class="logo">
        <img alt="{{ site.name }}" src="{{ site_logo }}" alt="{{ site.name }}">
      </a>
    </div>
    <div class="menu-right">
      {% for item in menu_items %}
        {% if loop.index > fn('int', menu_items|length) / 2 %}
          {% include 'menu-item.twig' with {'item': item} %}
        {% endif %}
      {% endfor %}
    </div>
  </ul>
</nav>