<div class="block-bottom-panel block-facebook-image-slide {{ component_class }}">
  <div class="container">
    <h3 class="block-title">{{ block_title }}</h3>
    <div class="facebook-image-slide facebook-image-list">
      {% set facebook_data = fn('facebook_data', number_of_images).data %}
      {% for item in facebook_data %}
        <div class="facebook-image-item">
          <div class="facebook-image-inner" style="background-image: url({{ item.full_picture }});">
            <a class="facebook-image-popup" data-fancybox="facebook-image-slide-popup" href="{{ item.full_picture }}"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>