<div class="block-list-post {{ component_class }}">
  <div class="list-posts">
    {% for item in return_items %}
      {% include 'post-item.twig' with {'post': item, 'classes': 'blog-full', 'comment_option': 1} only %}
    {% endfor %}
  </div>
  {% include 'pagination.twig' with {'pagination': pagination} only %}
</div>
